<div class="banner-container">
  <h1 class="title">Water Boats N Barges</h1>
  <h1 class="title title-large">Water Boats N Barges</h1>
  <div id="img-1" class="img-container">
    <img class="img" src="https://culturecdn.fra1.cdn.digitaloceanspaces.com/2018/04/Tall-Ships-016.jpg">
  </div>

  <div class="img-container second-animation">
    <img class="img" src="https://www.tresco.co.uk/uploads/pdfs/_500x357_crop_center-center_none/SEAF18-0942.jpg?v=1643299944">
  </div>

  <div class="img-container third-animation">
    <img class="img" src="https://keyassets.timeincuk.net/inspirewp/live/wp-content/uploads/sites/18/2022/01/monte-carlo-yachts-105-skylounge-aft-view-630x354.jpg">
  </div>

  <div class="img-container fourth-animation">
    <img class="img nba" src="https://keyassets.timeincuk.net/inspirewp/live/wp-content/uploads/sites/8/2017/09/boat6.jpg">
  </div>

  <div class="img-container fifth-animation">
    <img class="img" src="https://classic-sailing.com/wp-content/uploads/2020/06/from_facebook_permission_requested_-_europa_1.jpg">
  </div>

  <div id="img-6" class="img-container sixth-animation">
    <img class="img" src="https://www.cruisemapper.com/images/ships/2077-f3109b8affb.jpg">
  </div>

  <div id="img-7" class="img-container seventh-animation">
    <img class="img" src="https://gofreediving.co.uk/wp-content/uploads/2017/05/Go-Freediving-10-things-you-can-find-underwater-underwater-post-office.jpg">
  </div>
</div>


  <div class="container">
    <div class="content">
</div>
  <%= link_to "Get yer boats 'ere", "boats", class: "btn btn-ghost" %>
<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.bavariayachts.com/fileadmin/_processed_/5/c/csm_bavaria-home-map-mb_7358dfff3a.jpg)">
    <%= link_to "Great Boats", "boats", class: "btn btn-ghost" %>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.marineinsight.com/wp-content/uploads/2021/06/Dinghy-Boats.jpg.webp)">
    <%= link_to "Ok Boats", "boats", class: "btn btn-ghost" %>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://m.belfasttelegraph.co.uk/news/northern-ireland/b98c9/41555382.ece/AUTOCROP/w620/wreck)">
    <%= link_to "Historic Boats", "boats", class: "btn btn-ghost" %>
  </div>
</div>
