<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://c4.wallpaperflare.com/wallpaper/152/151/789/artwork-sinking-ships-ship-drawing-wallpaper-preview.jpg);">
  <div class="container">
    <h1>Water B-n-B</h1>
    <p>Get Sum Boats</p>
    <%= link_to "Get yer boats 'ere", "#", class: "btn btn-ghost" %>
  </div>
</div>

<% @boats.each do |boat| %>
  <p><%= boat.boat_type %> - <%= boat.price %></p>
<% end %>

<div class="box-drift">
  <div class="box-bob">
    <div class="box-pitch">
      <div class="left-sail"></div>
      <div class="right-sail"></div>
      <div class="hull"></div>
    </div>
  </div>
</div>

<% 100.times do %>
  <p>Ahoy</p>
<% end %>
