<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://c4.wallpaperflare.com/wallpaper/152/151/789/artwork-sinking-ships-ship-drawing-wallpaper-preview.jpg);">
  <div class="container">
    <h1>Water B-n-B</h1>
    <p>Get Sum Boats</p>
    <%= link_to "Get yer boats 'ere", "boats", class: "btn btn-ghost" %>
  </div>
</div>
<% @boats.each do |boat| %>
  <div class="card-product">
    <img src="https://www.yachtsinternational.com/.image/ar_233:100%2Cc_fill%2Ccs_srgb%2Cg_faces:center%2Cq_auto:good%2Cw_3840/MTQ3MzM2MDExNzAwMTg0ODc5/remember_when_hi-03577-credit-quin-bisset.webp" />
    <div class="card-product-infos">

      <p><%= boat.boat_type %> - <%= boat.price %> -  <%= boat.total_occupancy %></p>

    </div>
  </div>
<% end %>

<div class="box-drift">
  <div class="box-bob">
    <div class="box-pitch">
      <div class="left-sail"></div>
      <div class="right-sail"></div>
      <div class="hull"></div>
    </div>
  </div>
</div>
