<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://c4.wallpaperflare.com/wallpaper/152/151/789/artwork-sinking-ships-ship-drawing-wallpaper-preview.jpg);">
    <div class="content__container">
    <h1 class="content__container__text">
      Water BnB
    </h1>
    <ul class="content__container__list">
      <li class="content__container__list__item">

    <h3>Get Sum Boats</h3>
    <li class="content__container__list__item">
    <h3>Get Sum Boats</h3>
    <li class="content__container__list__item">
    <h3>The Best Boats</h3>
  </div>
  <div class="container">
    <div class="content">
</div>
  <%= link_to "Get yer boats 'ere", "boats", class: "btn btn-ghost" %>
<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.bavariayachts.com/fileadmin/_processed_/5/c/csm_bavaria-home-map-mb_7358dfff3a.jpg)">
    <%= link_to "Great Boats", "boats", class: "btn btn-ghost" %>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.marineinsight.com/wp-content/uploads/2021/06/Dinghy-Boats.jpg.webp)">
    <%= link_to "Ok Boats", "boats", class: "btn btn-ghost" %>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://m.belfasttelegraph.co.uk/news/northern-ireland/b98c9/41555382.ece/AUTOCROP/w620/wreck)">
    <%= link_to "Historic Boats", "boats", class: "btn btn-ghost" %>
  </div>
</div>
