<h1>Water BnB</h1>
<h2>Get yer boats here</h2>
<p>Find me in app/views/pages/home.html.erb</p>


<% @boats.each do |boat| %>
  <p><%= boat.boat_type %> - <%= boat.price %></p>
<% end %>

<div class="box-drift">
  <div class="box-bob">
    <div class="box-pitch">
      <div class="left-sail"></div>
      <div class="right-sail"></div>
      <div class="hull"></div>
    </div>
  </div>
</div>
