<h1>Water BnB</h1>
<%= link_to "Get yer boats 'ere", "#", class: "btn btn-ghost" %>
<p>Find me in app/views/pages/home.html.erb</p>


<% @boats.each do |boat| %>
  <p><%= boat.boat_type %> - <%= boat.price %></p>
<% end %>
