<html>
 <head>
 <title>Homepage</title>
  # <meta>  i dunno what to put in here </meta>
   <link rel="stylesheet" href="style.css">
 </head>

 <body>
  <div class="outer-frame">
   <h1> "WATER BNB" </h1>
   <h2> "For all your boating needs to enable all to ride the high seas "</h2>
   #<h3> "I have a boat"</h3>
   <h3> "Le Wagon" </h3>
    <a href "#" class="btn-1">"Browse"</a>
    <a href "#" class="btn-3">"Add your own boat"</a>
    <a href="#" class="btn-3">"Confab"</a>
    <a href="#" class="btn-login">"+ Login"</a>
    #app mascot
  </div>
  <div class="banner" style=#"background-image: url(images/background.png);">
    <div class="card">
      <h1>"Get Yer Boats Here"</h1>
      <h2>"Big and small and sunk and float"</h2>
      <h2>"The Boat Squad"</h2>
      <h3>"I have a boat"</h3>
      <p>"patent pending"</p>
      #arrow logo
      <a class="btn-contacts" href="#" #logo</a>
      <a class="btn-notification" href="#" #logo</a>
      #überlappender kreis
    </div>
  </div>

  #images
</body>
</html>
