<div class="mt-3">
  <div class="container">
    <h1>My reservations</h1>
    <div class="row mt-5">
      <div class="col-6">
        <h2>My Boats</h2>
        <% current_user.boats.each do |boat| %>
          <%= boat.name %>
        <% end %>
      </div>
      <div class="col-6">
        <h3>My Bookings</h3>
        <% current_user.bookings.each do |booking| %>
          <p><%= booking.start_date %></p>
          <p><%= booking.end_date %></p>
          <p><%= link_to "Delete", booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "delete-booking-btn" %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
