<h1 class="greeting">✔ Congratulations in hooking the amazing vessel <%= @reservation.boat.boat_type %></h1>

<h2>Booking start date: <%= @reservation.start_date %></h1>
<h2>Booking end date: <%= @reservation.end_date %></h1>
